body {
    background-color: black;
    overscroll-behavior: none;
}

.navbar-brand {
    padding-left: 2%;
}

h1,
h2,
.navbar-brand {
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

h1 {
    padding-top: 20px;
}

.navbar-brand {
    padding-top: 0px;
    font-size: xx-large;
}

#attractorDiv {
    width: 100vw;
    height: 200vh;
}

a {
    color: #d63384;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}